/* .container {
  display: flex;
  flex-direction: row;
} */

.card-title {
  background-color: #95676f;
  padding: 10px;
  margin-bottom: 0;
  color: white;
}

h6 {
  background-color: #95676f;
  padding: 10px;
  color: white;
}

.card-text {
  padding: 10px;
}
